html {
  font-size: 20px;
}

body {
  margin: 0;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
